.row {
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: repeat(3, 1fr); */
    
}

.col-2 {
    grid-column: span 2;
}

.text-center {
    text-align: center;
}

button {
    margin: 10px !important;
    
}

.col-2.remove {
    font-size: small !important;
}

.col-2 {
    width: 200px !important;
}

.empty-basket {
    text-align: center;
}

.basket-container {
    width: 80%;
    margin-left: 75px;
}

.reroute3 {
    /* color: #F01D7F;
    font-weight: bold;
    font-size: 30px;
    text-align: center !important; */
    margin-left: 30%;
}

